<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja Kategorii</title>
</head>
<body style="font-family: sans-serif; margin: 20px;">
    <h1>Edycja Kategorii</h1>
    <a href="/katalog">Powrót do katalogu</a>
    <hr>
    <form action="/katalog/kategorie/edytuj" method="post">
        <input type="hidden" name="id" th:value="${kategoria.indeksKategoria}">
        <label>Nazwa:</label>
        <input type="text" name="nazwa" th:value="${kategoria.nazwa}" required maxlength="50"><br><br>
        <button type="submit">Zapisz zmiany</button>
    </form>
</body>
</html>
